.socialmedia  {
    display:flex;
    list-style: none;
    font-size: larger;
    padding-left: 20px;

}
.socialmedia li {
    gap: 10px;
    padding-left: 10px;
}
.loginbody {
    background-size: cover;
    background-position: center;
    height: 93.5vh;
    overflow: hidden;
    /* background-image: url('C:\Users\DELL\Desktop\cloth\clothingwebsite\src\components\img\handsome-smiling-hipster-man-posing-studio.jpg'); */
    position: relative; 
    padding-top: -20px;
}