.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: larger;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-table tr:hover {
    background-color: #ddd;
}
